<ul>
  <li>
    <%= link_to 'http://www.gw2db.com/recipes/7133-berserkers-draconic-helm', class: 'exotic' do %>
      <%= image_tag 'http://media-ascalon.cursecdn.com/avatars/thumbnails/113/730/56/56/61565.png' %> Berserker's Draconic Helm
    <% end %>
  </li>
</ul>