$body-font: 1;
$baseline-font: $body-font * 16;

// Fonts
@mixin sans-serif {
  font-family: 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
}

@mixin serif {
  font-family: Georgia, Times, 'Times New Roman', serif;;
}

@font-face {
  font-family: 'Cronos Pro';
  font-style: normal;
  font-weight: normal;
  src: font-url('cronospro-regular-webfont.eot');
  src: font-url('cronospro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('cronospro-regular-webfont.woff') format('woff'),
       font-url('cronospro-regular-webfont.ttf') format('truetype'),
       font-url('cronospro-regular-webfont.svg#CronosProRegular') format('svg');
}

@font-face {
  font-family: 'Cronos Pro';
  font-style: normal;
  font-weight: bold;
  src: font-url('cronospro-semibold-webfont.eot');
  src: font-url('cronospro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('cronospro-semibold-webfont.woff') format('woff'),
       font-url('cronospro-semibold-webfont.ttf') format('truetype'),
       font-url('cronospro-semibold-webfont.svg#CronosSemibold') format('svg');
}

@font-face {
  font-family: 'Cronos Pro';
  font-style: italic;
  font-weight: normal;
  src: font-url('cronospro-italic-webfont.eot');
  src: font-url('cronospro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('cronospro-italic-webfont.woff') format('woff'),
       font-url('cronospro-italic-webfont.ttf') format('truetype'),
       font-url('cronospro-italic-webfont.svg#CronosProItalic') format('svg');
}

@font-face {
  font-family: 'Eason Pro';
  font-style: normal;
  font-weight: normal;
  src: font-url('easonpro-regular-webfont.eot');
  src: font-url('easonpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('easonpro-regular-webfont.woff') format('woff'),
       font-url('easonpro-regular-webfont.ttf') format('truetype'),
       font-url('easonpro-regular-webfont.svg#EasonProRegular') format('svg');
}

@font-face {
  font-family: 'Eason Pro';
  font-style: normal;
  font-weight: bold;
  src: font-url('easonpro-bold-webfont.eot');
  src: font-url('easonpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('easonpro-bold-webfont.woff') format('woff'),
       font-url('easonpro-bold-webfont.ttf') format('truetype'),
       font-url('easonpro-bold-webfont.svg#EasonProBold') format('svg');
}

@font-face {
  font-family: 'Eason Pro';
  font-style: italic;
  font-weight: normal;
  src: font-url('easonpro-italic-webfont.eot');
  src: font-url('easonpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
       font-url('easonpro-italic-webfont.woff') format('woff'),
       font-url('easonpro-italic-webfont.ttf') format('truetype'),
       font-url('easonpro-italic-webfont.svg#EasonProItalic') format('svg');
}

@mixin cronos-pro {
  @include sans-serif;
  font-family: 'Cronos Pro';
}

@mixin eason-pro {
  @include serif;
  font-family: 'Eason Pro';
}

// Utilities
@mixin font-size($px, $baseline: $baseline-font) {
  font-size: ($px / $baseline) + em;
}