@import 'scss';

body {
  font-size: $body-font * 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.legendary {
  color: $legendary;
}

.exotic {
  color: $exotic;
}

.rare {
  color: $rare;
}

.fine {
  color: $fine;
}

.basic {
  color: $basic;
}

.junk {
  color: $junk;
}